body{
    /* background-image: url("https://cdn.pixabay.com/photo/2020/02/06/01/52/frame-4822807__340.png"); */
    background-image: url("https://cdn.pixabay.com/photo/2018/08/21/23/29/forest-3622519__340.jpg");
  background-repeat:repeat
  background-size : cover;
}